:root {
    --dark: black;
    --alt: rgb(80, 3, 99);
  }

.headerContainer {
  color:white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headerTitle {
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.headerTitle h1 {
  margin-left: 15px;
  text-align: left;
}

.navbar {
  display: flex;
  flex-direction: right;
  margin-top: 15px;
  color: white;
  margin-left: 100px;
}