:root {
    --dark: black;
    --alt:  rgb(209, 148, 142);
  }

.headerContainer {
  color:white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headerTitle {
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.headerTitle h1 {
  margin-left: 15px;
  text-align: left;
}

.navbar {
  display: flex;
  flex-direction: right;
  margin-top: 15px;
  color: white;
  gap: 1rem;
  text-align: none;
  text-decoration: none;
}

.navItem {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 15px;
  text-align: right;
  text-decoration: none;
  font-size: 20px;
}

.aviPic {
  border: 5px dotted white;
  transition: border 0.3s ease;
}

.aviPic:hover {
  border: 10px dotted rgb(209, 148, 142);
  cursor: pointer;
}

.navItemActive {
  display: flex;
  align-items: center;
  color: purple;
  border-bottom: 2px solid purple;
  margin-left: 15px;
  text-align: right;
  text-decoration: none;
  font-size: 20px;
}

.navItem:hover {
  color: rgb(209, 148, 142);
  cursor: pointer;
}
