:root {
    --dark: black;
    --alt:  rgb(209, 148, 142);
  }

.headerContainer {
  color:white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headerTitle {
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.headerTitle h1 {
  margin-left: 15px;
  text-align: left;
}

.navbar {
  display: flex;
  flex-direction: right;
  margin-top: 15px;
  color: white;
  gap: 1rem;
  text-align: none;
  text-decoration: none;
}

.navItem {
  display: flex;
  margin-top: 10px;
  justify-content: right;
  align-items: center;
  color: white;
  margin-left: 15px;
  text-align: right;
  text-decoration: none;
  font-size: 20px;
}

@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headerTitle {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .navMenu {
    display: block;
  }

  .navbar {
    display: none;
  }
}

.navMenu {
  display: none;
}


.navMenuItem {
  text-decoration: none;
  color: black;
}

.aviPic {
  border: 5px dotted white;
  transition: border 0.3s ease;
}

.aviPic:hover {
  border: 10px dotted rgb(209, 148, 142);
  cursor: pointer;
}

.navItemActive {
  display: flex;
  align-items: center;
  color: rgb(45, 112, 220);
  border-bottom: 2px solid rgb(45, 112, 220);
  margin-left: 15px;
  text-align: right;
  text-decoration: none;
  font-size: 20px;
}

.navItem:hover {
  color: rgb(209, 148, 142);
  cursor: pointer;
}
