.homeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url('../images/home-background.jpg');
    background-size: contain;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: thin solid white;
}

.nameCard {
    color: white;
    text-align: left;
    margin-top: 50px;
    font-size: 12px;
}

#nameText {
    color: rgb(45, 112, 220);
}

.dropText {
    color: rgb(209, 148, 142);
}

